---
# values were retrieved from RingX repository.
# TODO: find a way to keep them in sync with GitOps
replicas: 1

# Additional Pod annotations
podAnnotations: {}

ingress:
  enabled: true
  servicePort: https
  tls: []
  annotations:
    nginx.ingress.kubernetes.io/backend-protocol: "HTTPS"
    kubernetes.io/ingress.class: "nginx-control-plane"
  rules:
    - host: ''
      paths:
        - /auth

# Additional environment variables for Keycloak
# For the discovery protocol, the chart already deploys a headless service by
# default, we could also use KUBE_PING for discovery
extraEnv: |
  - name: KEYCLOAK_USER
    value: admin
  - name: KEYCLOAK_PASSWORD
    value: password
  - name: JGROUPS_DISCOVERY_PROTOCOL
    value: dns.DNS_PING
  - name: JGROUPS_DISCOVERY_PROPERTIES
    value: 'dns_query={{ include "keycloak.serviceDnsName" . }}'
  - name: CACHE_OWNERS_COUNT
    value: "2"
  - name: CACHE_OWNERS_AUTH_SESSIONS_COUNT
    value: "2"
  - name: KEYCLOAK_NAMESPACE
    valueFrom:
      fieldRef:
        fieldPath: metadata.namespace
  - name: POD_NAME
    valueFrom:
      fieldRef:
        fieldPath: metadata.name
  - name: JAVA_OPTS
    value: >-
      -Djboss.default.jgroups.stack=kubernetes
      -Djboss.node.name=$(POD_NAME)
      -Djboss.tx.node.id=$(POD_NAME)
      -Djboss.site.name=$(KEYCLOAK_NAMESPACE)
  - name: KEYCLOAK_STATISTICS
    value: all
serviceMonitor:
  enabled: true
  labels:
    release: prometheus-operator

# }}}

# {{{ PostgreSQL sub-chart

# Here, we can override postgresql chart settings
# See here for more: https://hub.helm.sh/charts/bitnami/postgresql-ha
postgresql:
  persistence:
    enabled: true
    accessModes:
    - ReadWriteOnce
    size: 10Gi
    annotations: {}
    storageClass: "keycloak"
    mountPath: /keycloak/postgresql
  replication:
    enabled: true
    user: repl_user
    password: repl_password
    slaveReplicas: 0
    synchronousCommit: "off"
    numSynchronousReplicas: 1
    applicationName: Keycloak
  postgresqlDataDir: /keycloak/postgresql/data
  metrics:
    enabled: true
    serviceMonitor:
      enabled: true
      additionalLabels:
        release: prometheus-operator
